<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="cart-table">
            <div class="cart-product">
                <table class="table align-middle bg-white table-hover">
                    <thead class="bg-light table-light">
                        <tr class="text-th">
                            <th class="td-tx">Sr.No</th>
                            <th class="td-tx">Product Name</th>
                            <th class="td-tx">Product Image</th>
                            <th class="td-tx" style="text-align: center;">Price</th>
                            <th class="td-tx" style="text-align: center;">Quantity</th>
                            <th class="td-tx" style="text-align: center;">Total</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width: 100px;" src="{{item.image}}" alt=""></td>
                            <th style="width: 150px; text-align: center;">{{item.price}}Bs.</th>
                            <td style="width: 150px; text-align: center;">x{{item.quantity}}</td>
                            <td style="width: 150px; text-align: center;">{{item.total}}Bs.</td>
                            <td class="td-delete">
                                <button (click)="removeItem(item)" class="btn btn-delete"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>

            <div class="cont-total">
                <p style="font-size: 18px; font-weight: bold; padding: 10px;">Grand Total: </p>
                <p style="margin-left: 15px; padding: 10px; background-color: #b4daff;"> ${{grandTotal}}</p>
            </div>

            <div class="cont-btn">
                <button (click)="emptycart()" class="btn btn-b btn-danger">Empty Cart</button>
                <button routerLink="/products" class="btn btn-shop btn-b">Shop More</button>
                <button class="btn btn-b btn-success" (click)="goCheckout()">Checkout</button>
            </div>

            
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Card</h5>
        </div>
        <div class="center">
            <img src="https://cdn-icons-png.flaticon.com/512/7714/7714517.png">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn btn-dark">Shop Now</button>
        </div>
    </div>
</ng-container>