
    <div class="container">
        <div class="container">
          <h1 class="title">Login</h1>
          <form  [formGroup]="loginForm" (ngSubmit)="login()" class="inputs-container">
            <input formControlName="email" class="form-control" type="text" placeholder="Email">
            <br/>
            <input formControlName="password" class="form-control" type="password" placeholder="Password">
            <p>Don't have an account? <a href="http://localhost:4100/signup"> <span class="span">Sign Up</span></a></p>
            <br/>
            <button type="submit" class="btn btn-dark">login</button>
          </form>
        </div>
        <img class="image-container" src="" alt="">
      </div>
   
