<!--<p>detailproduct works!</p>-->
<div class="container">
    <div class="container-img">
        <div class="images">
            <a><img  src="{{product.image}}" alt=""></a>
        </div>
    </div>
    <div class="detail-container">
        <div class="detail">
            <div class="detail-panel detail-right">  
                <button class="btn-close"></button>
                <h2>{{product.title}}</h2>       
                <p class="p-d">Descripción</p>               
                <p>{{product.description}}</p>
                <p class="p-size">Precio:{{product.price}}Bs</p>
                <button class="btn" (click)=addtocart(product)>Añadir a mi cesta</button>
            </div>
        </div>
    </div>
</div>