@import url('https://fonts.googleapis.com/css?family=Poppins');
* {
    font-family: 'Poppins';
}
.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}
.pointer{
    cursor: pointer;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}
h5{
    color:#0A457F ;
    font-weight:bolder;
}
h6{
    color: #00AEE1;
}
h6:hover {
    color: #0A457F;
}

.card {
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.img-aline{
    text-align: center;
}
.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}
.btn{
    background-color: #00AEE1;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #0A457F;
}

.text-card{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}
