
    <div class="container">
        <div class="container">
          <h1 class="title">Iniciar Sesión</h1>
          <form  [formGroup]="loginForm" (ngSubmit)="login()" class="inputs-container">
            <input formControlName="email" class="form-control" type="text" placeholder="Correo electrónico">
            <br/>
            <input formControlName="password" class="form-control" type="password" placeholder="Contraseña">
            <p>¿No tienes una Cuenta? <a href="http://localhost:4100/signup"> <span class="span">Registro</span></a></p>
            <br/>
            <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
          </form>
        </div>
        <img class="image-container" src="" alt="">
      </div>
   