.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}


.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

.item img {
    width: 64px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}